/*Reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*proprietà blocchi*/
.block{
  position: relative;
  display: inline-block;
}
/*sconti*/
.green{
  position: absolute;
  right:0;
  background-color:green;
}
.red{
  position: absolute;
  right:0;
  background-color:red;
}
/*proprietà cuore*/
.heart{
  font-size: 20px;
  display: none;
  position: absolute;
  bottom: 10px;
  left: 150px;
}
.block:hover .heart{
  display: inline-block;
}
.heart:hover{
  color: red;
}
